.header {
  height: 34vw;
  margin-bottom: 20px;
  margin-top: 20px;

  background: url("../../assets/banner-2.jpeg") no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.heading-part-1 {
  color: oklch(82.8% 0.189 84.429);
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Bebas Neue", cursive;
}

.header-contents p {
  font-family: "Quicksand", sans-serif; /* Font for the paragraph */
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  /* bottom: 10%; */
  margin-top: 70px;

  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }

  .header-contents p {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw;
  }
}
