.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* .explore-menu-tittle {
  border: 2px solid black;
  text-align: center;
  padding: 20px 0px;
  font-size: 50px;
  border-radius: 10px;

  font-family: "Bebas Neue", cursive;

  background: linear-gradient(
    to right,
    oklch(63.7% 0.237 25.331),
    oklch(75% 0.183 55.934)
  );
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  
} */

.explore-menu-tittle {
  text-align: center;
  padding: 20px 0px;
  font-size: 50px;
  border-radius: 10px;
  color: white;

  font-family: "Bebas Neue", cursive;

  background: linear-gradient(
    to right,
    oklch(50.5% 0.213 27.518),
    oklch(75% 0.183 55.934)
  );

  word-spacing: 10px;
}

.explore-menu-text {
  max-width: 60%;
  color: #808080;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow: scroll;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 100px;
  min-width: 80px;
  cursor: pointer;
  border-radius: 10%;
  transition: 0.2s;
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: oklch(63.7% 0.237 25.331);
  border: none;
}

.explore-menu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
  border-radius: 50%;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
